.statistic {
@apply pt-32;

  &-list {
    @apply grid sm:grid-cols-2 md:grid-cols-4 gap-4 text-center;
  }

  &-item {
    @apply p-4;
  }

  &-content {
    @apply border-2 border-stone-200 px-4 py-6 rounded-lg;
  }

  &-icon {
    @apply text-sky-500 w-12 h-12 mb-3 inline-block;
  }

  &-number {
    @apply font-light text-4xl text-stone-900;
  }

  &-caption {
    @apply leading-relaxed;
  }
}
